<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Domov</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Výdavky</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="income">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Príjmy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Ciele</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Štatistiky</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
